///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$header-font-family: $body-font-family !default;

$global-radius: 3px !default;


