///* ========================================================================
//   #COLORS
//   ======================================================================== */

$gray-dark:         		#8a8a8a !default;
$gray-medium:           #cacaca !default;
$gray-light:        		#e6e6e6 !default;
$black:              		#0a0a0a !default;
$white:             		#fefefe !default;

$brand-color:(
	primary: #428bca,
	secondary: #767676,
	success: #5cb85c,
	warning: #ffae00,
	alert:   #f1391c,
) !default;

:root {
	--gray-dark: $gray-dark;
	--gray-medium: $gray-medium;
	--gray-light: $gray-light;
	--black: $black;
	--white: $white;
	--primary: map-get($brand-color, primary);
	--secondary: map-get($brand-color, secondary);
	--success: map-get($brand-color, success);
	--warning: map-get($brand-color, warning);
	--alert:   map-get($brand-color, alert);
}