///* ========================================================================
//   #TEXT
//   ======================================================================== */


// Alignment

.u-text--left { text-align: left !important; }
.u-text--right { text-align: right !important; }
.u-text--center { text-align: center !important; }

// Transformation

.u-text--lowercase { text-transform: lowercase !important; }
.u-text--uppercase { text-transform: uppercase !important; }
.u-text--capitalize { text-transform: capitalize !important; }