/* ==========================================================================
   #GRID
   ========================================================================== */

.o-row {
  margin-left: rem(-15);
  margin-right: rem(-15);
}

.o-content{
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: rem(15);
  padding-right: rem(15);
  @include breakpoint(md){
    flex: 0 0 calc(100% - 20%);
    max-width: calc(100% - 20%);
  }
}

.o-sidebar{
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: rem(15);
  padding-right: rem(15);
  @include breakpoint(md){
    flex: 0 0 calc(100% - 80%);
    max-width: calc(100% - 80%);
  }
}