/* ==========================================================================
   #GRID
   ========================================================================== */


.o-content{
	flex: 0 0 100%;
	max-width: 100%;
	@include breakpoint(md){
    flex: 0 0 calc(100% - 20%);
		max-width: calc(100% - 20%);
  }
}

.o-sidebar{
	flex: 0 0 100%;
	max-width: 100%;
	@include breakpoint(md){
    flex: 0 0 calc(100% - 80%);
		max-width: calc(100% - 80%);
  }
}