/* ==========================================================================
   #TABLES
   ========================================================================== */

table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	>thead{
		>tr{
			>th{
				text-align: left;
			}
		}
	}
	th,
	td{
		padding: rem(8);
	}
}