/* ==========================================================================
   #FORMS
   ========================================================================== */

$input-font-family: $body-font-family !default;

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  max-width: 100%;
}

label{
  display: inline-block;
  margin-bottom: rem(6);
}

button,
input,
optgroup,
select,
textarea {
  font-family: $input-font-family;
}

input[type='text'], 
input[type='password'], 
input[type='date'], 
input[type='datetime'], 
input[type='datetime-local'], 
input[type='month'], 
input[type='week'], 
input[type='email'], 
input[type='number'], 
input[type='search'], 
input[type='tel'], 
input[type='time'], 
input[type='url'], 
input[type='color'], 
textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  vertical-align: middle;
  outline: none;
  line-height: 1.5;
  &:focus{
    outline: none;
  }
}

input[type="file"] {
  display: block;
}

button,
[type=button],
[type=reset],
[type=submit]{
  border: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

textarea {
  display: block;
  overflow: auto;
  max-width: 100%;
}

select {
  display: block;
  width: 100%;
  line-height: normal;
  outline: none;
  &:focus{
    outline: none;
  }
}

select[multiple] {
  height: auto;
}
